body {
    background-color: rgb(80, 50, 75);
    margin: 0%;


}

#HeadRibbon {
  margin:0;

}



h1 {
    font-family: 'Arvo', serif;
}


#Ptitle {
    
    text-align: center;
    background-color: aliceblue;
    color: orange;
    border-color: black;
    margin: 0;
    
}

.mainNavheader {
    width: 100%;
    background:green;
    padding: 8px 16px;

    
}

.main-nav-items {
    display: inline-block;
    
}


font-family: 'Arvo', serif;

font-family: 'Crete Round', serif;

font-family: 'Permanent Marker', cursive;

font-family: 'Righteous', cursive;

