body {
    background-color: rgb(80, 50, 75);

}


#Ptitle {
    
    text-align: center;
    background-color: aliceblue;
    color: orange;
    border-color: black;
    border-width: ;




}