body {
    background-color: rgb(80, 50, 75);

}

h1 {
    font-family: 'Arvo', serif;
}


#Ptitle {
    
    text-align: center;
    background-color: aliceblue;
    color: orange;
    border-color: black;
    border-width: ;




}



font-family: 'Arvo', serif;

font-family: 'Crete Round', serif;

font-family: 'Permanent Marker', cursive;

font-family: 'Righteous', cursive;

